package templates

templ Home() {
    @Layout("Home", nil) {
        <div class="container">
            <div class="row">
                <div class="d-flex p-5 justify-content-center">
                    <h3>Let's Go!</h3>
                </div>
            </div>
        </div>
    }
}